.App {
  font-family: sans-serif;
  text-align: center;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
  text-align: left;
}

Button {
  margin: 5px auto;
}

.navbar-dark {
  background-color: black;
}

.footer {
  background-color:black;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.list-unstyled li {
  display:inline;
  margin-right: 2rem;
}

.icons {
  color: white;
}
