.App {
  font-family: sans-serif;
  text-align: center;
}

.row-header {
  margin: 100px 0px 100px 0px;
  text-align: left;
}

.btn {
  margin: 5px;
}

.fa {
  border-radius: 5px;
  transition-duration: 300ms;
}

.fa-facebook:hover {
  background-color: #4267B2;
  border-color: #4267B2;
}

.fa-linkedin:hover {
  background-color: #0077b5;
  border-color: #0077b5;
}

.fa-twitter:hover {
  background-color: #1DA1F2;
  border-color: #1DA1F2;
}

.fa-instagram:hover {
  border-color: red;
  background-color: red;
}

.content {
  padding: 20px 0px 50px 0px;
}

.navbar-dark {
  background-color: black;
}

.footer {
  background-color: black;
  /* margin:100px 0px 0px 0px; */
  padding: 20px 0px 20px 0px;
}

.list-unstyled li {
  display:inline;
  padding: 15px;
}

.icons {
  color: white;
}

.slick-slide img {
  margin: auto;
  width: 35rem;
  height: 25rem;
}

.tag .imgslider{
  text-align: right;
}
